---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-prowlarr
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kuberentes.io/name: &app prowlarr
  path: "./kubernetes/${CLUSTER}/apps/download/prowlarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: prowlarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: cluster-apps-media-common-mounts
    - name: cluster-apps-reflector
    - name: cluster-apps-kube-prometheus-stack-crds
    - name: cluster-apps-pod-gateway
    - name: cluster-apps-volsync
# ---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: cluster-apps-prowlarr-provision
#   namespace: flux-system
# spec:
#   interval: 10m
#   path: "./kubernetes/${CLUSTER}/apps/download/prowlarr/provision"
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#   wait: true
#   postBuild:
#     substituteFrom: []
#   dependsOn:
#     - name: cluster-apps-prowlarr
