---
clusterName: ${CLUSTER_NAME}

talosVersion: v1.4.5
kubernetesVersion: 1.27.2
endpoint: "https://${CLUSTER_NAME}.${INTERNAL_DOMAIN}:6443"

allowSchedulingOnMasters: true
allowSchedulingOnControlPlane: true

clusterPodNets:
  - 172.22.0.0/16
clusterSvcNets:
  - 172.23.0.0/16
cniConfig:
  name: none

additionalApiServerCertSans:
  - ${CLUSTER_ENDPOINT_IP}
  - ${EXTERNAL_CLUSTER_NAME}.${EXTERNAL_DOMAIN}

additionalMachineCertSans:
  - ${CLUSTER_ENDPOINT_IP}
  - ${CLUSTER_NAME}.${INTERNAL_DOMAIN}
  - ${EXTERNAL_CLUSTER_NAME}.${EXTERNAL_DOMAIN}

nodes:
  - hostname: jsdyb-nuc-001.${INTERNAL_DOMAIN}
    disableSearchDomain: true
    ipAddress: 10.77.0.11
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: 10.77.0.10
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
  - hostname: jsdyb-nuc-002.${INTERNAL_DOMAIN}
    disableSearchDomain: true
    ipAddress: 10.77.0.12
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: 10.77.0.10
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
  - hostname: jsdyb-nuc-003.${INTERNAL_DOMAIN}
    disableSearchDomain: true
    ipAddress: 10.77.0.13
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        dhcp: true
        vip:
          ip: 10.77.0.10
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096

controlPlane:
  patches:
    - |-
      cluster:
        proxy:
          disabled: true
        etcd:
          advertisedSubnets:
            - 10.77.0.0/24
        extraManifests:
          - https://raw.githubusercontent.com/JefeDavis/k8s-HomeOps/main/infrastructure/talos/integrations/cni/cilium.yaml
          - https://raw.githubusercontent.com/JefeDavis/k8s-HomeOps/main/infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml

    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

        kubelet:
          extraArgs:
            feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true,NewVolumeManagerReconstruction=false
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 250
          nodeIP:
            validSubnets:
              - 10.77.0.0/24

        network:
          extraHostEntries:
            - ip: ${CLUSTER_ENDPOINT_IP}
              aliases:
                - ${CLUSTER_NAME}.${INTERNAL_DOMAIN}

        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"

        time:
          disabled: false
          servers:
            - ${NTP_SERVER}
