---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-dynamic-dns
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/${CLUSTER}/apps/network/dynamic-dns/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
  wait: true
  postBuild:
    substituteFrom: []
