---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubernetes-schemas
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      *app :
        replicas: 2
        strategy: RollingUpdate
        containers:
          *app :
            image:
              repository: ghcr.io/jefedavis/kubernetes-schemas
              tag: latest@sha256:ae23bf6d720174f004dfd42be8d66016d9e1a3bdb3db934edf1372164bcfdf02
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 8080

    # ingress:
    #   internal:
    #     className: nginx-internal
    #     annotations:
    #       cert-manager.io/cluster-issuer: letsencrypt-prod
    #       hajimari.io/enable: "true"
    #       hajimari.io/icon: mdi:code-json
    #     hosts:
    #       - host: &host kubernetes-schemas.${EXTERNAL_DOMAIN}
    #         paths:
    #           - path: /
    #             service:
    #               identifier: *app
    #               port: *port
    #     tls:
    #       - hosts:
    #           - *host
    #         secretName: kubernetes-schemas-tls-external

    route:
      *app :
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: private-gateway
            namespace: network
        hostnames:
          - kubernetes-schemas.${EXTERNAL_DOMAIN}
        rules:
          - backendRefs:
              - kind: Service
                name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /

    persistence:
      tmp:
        type: emptyDir
