---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-common-mounts
  namespace: media
spec:
  interval: 10m
  path: "./kubernetes/apps/media/common/mount"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  wait: true
  postBuild:
    substituteFrom: []
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-common
  namespace: media
spec:
  interval: 10m
  path: "./kubernetes/apps/media/common/resource"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  wait: true
  postBuild:
    substituteFrom: []
  decryption:
    provider: sops
    secretRef:
      name: flux-gcp-kms-secret
  dependsOn:
    - name: kubernetes-replicator
      namespace: system
