---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: flaresolverr
  namespace: download
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    image:
      repository: flaresolverr/flaresolverr
      tag: v3.3.10
    service:
      main:
        ports:
          http:
            port: 8191
    resources:
      requests:
        cpu: 50m
        memory: 150Mi
      limits:
        memory: 300Mi
