---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-wyoming-services
  namespace: flux-system
spec:
  targetNamespace: home
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app wyoming-services
      app.kubernetes.io/part-of: *app
  path: "./kubernetes/jsdyb-k8s-001/apps/home/wyoming-services/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
