---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns
  namespace: gateway
spec:
  targetNamespace: gateway
  path: "./kubernetes/apps/gateway/external-dns/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  dependsOn:
    - name: prometheus-operator-crds
      namespace: observability
    - name: dynamic-dns
      namespace: gateway
    - name: cert-manager
      namespace: cert-manager
