---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfs-subdir-external-provisioner
  namespace: storage
spec:
  interval: 30m
  chart:
    spec:
      chart: nfs-subdir-external-provisioner
      version: 4.0.18
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-nfs-subdir
        namespace: flux-system
      interval: 30m
  values:
    nfs:
      server: ${SYNOLOGY_ADDR}
      path: /volume1/cloudnative1
      mountOptions:
        - "nfsvers=3"
