---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: arc-home-ops
  namespace: dev
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.4.0
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    runnerScaleSetName: arc-home-ops
    githubConfigUrl: https://github.com/JefeDavis/k8s-HomeOps
    githubConfigSecret: github-app-credentials
    minRunners: 1
    maxRunners: 3
    containerMode:
      type: dind
    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/onedr0p/github-actions-runner:rolling@sha256:37c95b4609cc47ddc181a6e6f345967568249b62b49ea9a6d9db320d189d61c1
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: arc-hass
  namespace: dev
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.4.0
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    runnerScaleSetName: arc-hass
    githubConfigUrl: https://github.com/JefeDavis/hass-config
    githubConfigSecret: github-app-credentials
    minRunners: 1
    maxRunners: 3
    containerMode:
      type: dind
    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/onedr0p/github-actions-runner:rolling@sha256:37c95b4609cc47ddc181a6e6f345967568249b62b49ea9a6d9db320d189d61c1
