---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.16.3
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-nfd
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    master:
      resources:
        requests:
          cpu: 11m
          memory: 51Mi
        limits:
          memory: 51Mi

    worker:
      resources:
        requests:
          cpu: 15m
          memory: 48Mi
        limits:
          memory: 48Mi

