---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/home-assistant/home-assistant
      tag: 2023.12.0

    podAnnotations:
      k8s.v1.cni.cncf.io/networks: |
        [{
          "name":"iot-vlan",
          "namespace": "network",
          "ips": ["10.0.90.4/24"]
        }]

    env:
      TZ: "America/New York"
      HASS_POSTGRES_USER:
        valueFrom:
          secretKeyRef:
            name: pg-home-assistant-app
            key: username
      HASS_POSTGRES_PASS:
        valueFrom:
          secretKeyRef:
            name: pg-home-assistant-app
            key: password
      HASS_RECORDER_DB_URL: "postgresql://$(HASS_POSTGRES_USER):$(HASS_POSTGRES_PASS)@pg-home-assistant-rw/home-assistant"

    initContainers:
      clone-repo:
        image: alpine/git:latest
        command:
          - "/bin/sh"
          - -c
          - |
            cd /config
            git fetch origin
            git reset origin/main

        volumeMounts:
          - name: deploy-key
            mountPath: /root/.ssh/id_rsa
            subPath: ssh-privatekey
          - name: deploy-key
            mountPath: /root/.ssh/known_hosts
            subPath: known_hosts
          - name: config
            mountPath: /config
          - name: configuration
            mountPath: /config/configuration.yaml
            subPath: configuration.yaml

    envFrom:
      - secretRef:
          name: home-assistant-secret
        prefix: "HASS_"

    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_HASS_ADDR}
        ports:
          http:
            enabled: true
            port: 8123
          sonos:
            enabled: true
            port: 1400

    ingress:
      main:
        enabled: true
        annotations:
          nginx.org/websocket-services: home-assistant
          cert-manager.io/cluster-issuer: letsencrypt-prod
          hajimari.io/enable: "true"
          hajimari.io/icon: "simple-icons:homeassistant"
        ingressClassName: nginx
        hosts:
          - host: home.${EXTERNAL_DOMAIN}
            paths:
              - path: /
        tls:
          - hosts:
              - home.${EXTERNAL_DOMAIN}
            secretName: home-assistant-tls-external

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /api/prometheus
            interval: 30s
            scrapeTimeout: 10s
            bearerTokenSecret:
              name: home-assistant-secret
              key: PROMETHEUS_TOKEN


    persistence:
      deploy-key:
        enabled: true
        type: secret
        name: home-assistant-deploy-key
        defaultMode: 256
        subPath:
          - path: ssh-privatekey
            mountPath: /root/.ssh/id_rsa
          - path: known_hosts
            mountPath: /root/.ssh/known_hosts
      configuration:
        enabled: true
        type: configMap
        name: hass-config
        mountPath: /config/configuration.yaml
        subPath: configuration.yaml
      backups:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDR}"
            path: /volume1/backups/home-assistant
        mountPath: /config/backups
        readOnly: false

    probes:
      liveness:
        custom: true
        spec:
          httpGet:
            path: /manifest.json
            port: 8123
          initialDelaySeconds: 3
          periodSeconds: 3
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        cpu: 47m
        memory: 1254Mi
      limits:
        memory: 1254Mi

    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: ceph-block
