---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio
  namespace: gateway
spec:
  chart:
    spec:
      chart: ambient
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      version: 1.29.0
  interval: 30m
  values:
    global:
      istioNamespace: mesh
    base:
      istioNamespace: mesh
    ztunnel:
      istioNamespace: mesh
