---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: overseerr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    image:
      repository: ghcr.io/sct/overseerr
      tag: 1.32.5

    env:
      LOG_LEVEL: "info"
      PORT: 80

    service:
      main:
        ports:
          http:
            port: 80

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          theme.home.arpa/enabled: "true"
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: "overseerr.davishaus.dev"
            paths:
              - path: /
          - host: "request.davishaus.dev"
            paths:
              - path: /
        tls:
          - hosts:
              - "overseerr.davishaus.dev"
              - "request.davishaus.dev"
            secretName: overseerr-tls-external

    persistence:
      config:
        enabled: true
        existingClaim: overseerr-config
        mountPath: /app/config

    resources:
      requests:
        cpu: 5m
        memory: 226M
      limits:
        memory: 245M
