---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tetragon
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      version: 1.3.0
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    dnsPolicy: ClusterFirstWithHostNet
    tetragon:
      exportAllowList: |-
        {"event_set":["PROCESS_EXEC", "PROCESS_EXIT", "PROCESS_KPROBE", "PROCESS_UPROBE", "PROCESS_TRACEPOINT"]}
      exportDenyList: |-
        {"health_check":true}
        {"namespace":["", "cilium", "kube-system"]}
      fieldFilters: |-
        {}
      # Access Kubernetes API to associate Tetragon events with Kubernetes pods.
      enableK8sAPI: true
      # enableProcessCred enables Capabilities visibility in exec and kprobe events.
      enableProcessCred: true
      # enableProcessNs enables Namespaces visibility in exec and kprobe events.
      enableProcessNs: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      healthGrpc:
        port: 6790
    tetragonOperator:
      podInfo:
        enabled: true
