---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
spec:
  interval: 30m
  chart:
    spec:
      chart: ./charts/hajimari
      sourceRef:
        kind: GitRepository
        name: hajimari
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      tag: main-f77fe68
    env:
      TZ: America/New_York
    hajimari:
      title: Portal
      darkTheme: catppuccin-macchiato
      customThemes:
        - name: catppuccin-macchiato
          backgroundColor: "#24273a"
          primaryColor: "#cad3f5"
          accentColor: "#8aadf4"
      alwaysTargetBlank: true
      showGreeting: false
      showAppGroups: true
      showAppStatus: false
      showBookmarkGroups: false
      showGlobalBookmarks: false
      showAppUrls: false
      defaultEnable: false
      namespaceSelector:
        matchNames:
          - download
          - flux-system
          - home
          - media
          - monitor
          - network
          - security
          - self-hosted
          - storage
    ingress:
      main:
        enabled: false
    podAnnotations:
      configmap.reloader.stakater.com/reload: "hajimari-settings"
    persistence:
      data:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 100m
        memory: 128M
