---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app smtp-relay
  namespace: home
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate

    image:
      repository: ghcr.io/foxcpp/maddy
      tag: 0.7.0

    env:
      DEBUG: "true"
      SMTP_SERVER: smtp.sendgrid.net
      # OVERWRITE_FROM: "${SECRET_SENDGRID_USER_SMTP_RELAY}"
      SMTP_USERNAME: apikey
      SMTP_PASSWORD: "${SECRET_SENDGRID_APIKEY_SMTP_RELAY}"
      SMTP_DOMAIN: "${SECRET_DOMAIN}"
      SMTP_PORT: "465"

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${SVC_SMTP_RELAY_ADDR}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 2525
          metrics:
            enabled: true
            port: 9749

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        subPath: maddy.conf
        mountPath: /data/maddy.conf
        readOnly: true
      data:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        mountPath: /dev/shm


    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
      secret.reloader.stakater.com/reload: *app

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
