---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepo.yaml
  - ./helmrelease.yaml
  - ./secret-smtp-relay.sops.yaml
configMapGenerator:
  - name: smtp-relay-config
    files:
      - ./resources/maddy.conf
generatorOptions:
  disableNameSuffixHash: true
