---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cluster-apps-emqx-operator
  namespace: flux-system
spec:
  targetNamespace: datastore
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/${CLUSTER}/apps/datastore/emqx/operator
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-cert-manager
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-emqx-cluster
  namespace: flux-system
spec:
  targetNamespace: datastore
  path: ./kubernetes/${CLUSTER}/apps/datastore/emqx/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-emqx-operator
