---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: theme-park
  namespace: self-hosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/onedr0p/theme-park
      tag: 1.13.6@sha256:5f0a11766966429501e62f58e31a0dd422caf6f0100ad078c469f4e8379c89ae
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: &host "theme-park.davishaus.dev"
            paths:
              - path: /
        tls:
          - hosts:
              - *host
            secretName: theme-park-tls-external
    persistence:
      rdt-config:
        enabled: true
        type: configMap
        name: theme-park-rdt-client-config
        mountPath: /usr/share/nginx/html/css/base/rdt-client/
    resources:
      requests:
        cpu: 5m
        memory: 10Mi
      limits:
        memory: 10Mi
