---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app overseerr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          setup:
            image:
              repository: ghcr.io/dmfrey/bash
              tag: 5.2.26-alpine3.20
            command:
              - "/usr/local/bin/bash"
              - -c
              - |
                envsubst < /tmp/config-template/settings.json > /tmp/settings-resolved.json
                if ! [ -f /app/config/settings.json ]
                then
                  cp /tmp/settings-resolved.json /app/config/settings.json
                fi
            env:
              - name: ORGANIZATION
                value: ${ORGANIZATION}
              - name: EXTERNAL_DOMAIN
                value: ${EXTERNAL_DOMAIN}
            envFrom:
              - secretRef:
                  name: overseerr-secret
              - secretRef:
                  name: starr-apps-secret
              - secretRef:
                  name: plex-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        containers:
          *app :
            image:
              repository: ghcr.io/sct/overseerr
              tag: develop@sha256:568f126f69663cf764d12bf19ba5a250be2246cca49852e556f363d0acac2603
            env:
              LOG_LEVEL: info
              PORT: &port 5055
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi
          # exporter:
          #   image:
          #     repository: ghcr.io/willfantom/overseerr-exporter
          #     tag: 1.2.1
          #   args:
          #     - --overseerr.address
          #     - "http://localhost:5055"
          #     - --overseerr.api-key
          #     - "$(OVERSEERR_API_KEY)"
          #   envFrom:
          #     - secretRef:
          #         name: overseerr-secret
          #   securityContext:
          #     allowPrivilegeEscalation: false
          #     readOnlyRootFilesystem: true
          #     capabilities:
          #       drop:
          #         - ALL
          #   resources:
          #     requests:
          #       cpu: 10m
          #     limits:
          #       memory: 128Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: 9850

    # ingress:
    #   external:
    #     className: nginx-external
    #     annotations:
    #       cert-manager.io/cluster-issuer: letsencrypt-prod
    #       theme.home.arpa/enabled: "true"
    #       hajimari.io/enable: "true"
    #       hajimari.io/icon: "mdi:eye-circle-outline"
    #     hosts:
    #       - host: &host "request.${EXTERNAL_DOMAIN}"
    #         paths:
    #           - path: /
    #             service:
    #               identifier: *app
    #               port: *port
    #     tls:
    #       - hosts:
    #           - *host
    #         secretName: overseerr-tls-external

    route:
      *app :
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - group: gateway.networking.k8s.io
            kind: Gateway
            name: public-gateway
            namespace: network
        hostnames:
          - &host overseerr.${EXTERNAL_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                kind: Service
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
      
    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /app/config

      config-template:
        type: configMap
        name: overseerr-config-template
        advancedMounts:
          *app :
            setup:
              - path: /tmp/config-template

      tmp:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /tmp
            setup:
              - path: /tmp

    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 10s
