---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app baby-buddy
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      baby-buddy:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/babybuddy
              tag: 2.7.1@sha256:f035d0b95312957cb6db21ed5184ef501ad16b7fa99f5a829305586cc16da750
            env:
              - name: TZ
                value: ${TIMEZONE}
              - name: ALLOWED_HOSTS
                value: ${EXTERNAL_URL},${LOCAL_URL}
              - name: CSRF_COOKIE_SECURE
                value: "true"
              - name: CSRF_TRUSTED_ORIGINS
                value: https://${EXTERNAL_URL},http://${LOCAL_URL}
              - name: EMAIL_HOST
                value: smtp-relay.network.svc.cluster.local.
              - name: EMAIL_PORT
                value: "2525"
              - name: EMAIL_USE_TLS
                value: "false"
              - name: PROXY_HEADER
                value: HTTP_X_AUTHENTIK_USERNAME
              - name: REVERSE_PROXY_AUTH
                value: "true"
              - name: SECURE_PROXY_SSL_HEADER
                value: "true"
              - name: DJANGO_SETTINGS_MODULE
                value: babybuddy.settings.base
              - name: DB_ENGINE
                value: django.db.backends.postgresql
              - name: DB_HOST
                value: pg-baby-buddy-rw
              - name: DB_NAME
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: username
              - name: DB_USER
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: username
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: password
            envFrom:
              - secretRef:
                  name: baby-buddy-secret
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000

    route:
      *app :
        enabled: true
        kind: HTTPRoute
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:baby-face-outline
        parentRefs:
          - kind: Gateway
            name: private-gateway
            namespace: gateway
        hostnames:
          - baby-buddy.${INTERNAL_DOMAIN}
        rules:
          - backendRefs:
              - kind: Service
                name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /

    persistence:
      config:
        enabled: true
        existingClaim: baby-buddy-config
        globalMounts:
          - path: /config
