---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns
  namespace: network
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes-sigs.github.io/external-dns/
      chart: external-dns
      version: 1.15.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns
        namespace: flux-system
      interval: 30m
  values:
    fullnameOverride: *app

    sources:
      - crd
      - ingress
      - service

    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
      configmap.reloader.stakater.com/reload: dynamic-dns

    interval: 10s
    policy: sync
    registry: txt
    txtPrefix: "${CLUSTER_NAME}-"
    provider: cloudflare

    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --cloudflare-proxied
      - --ingress-class=nginx-external
      - --exclude-target-net=10.0.0.0/8
      - --exclude-target-net=172.16.0.0/12
      - --exclude-target-net=192.168.0.0/16
      - --exclude-domains=${INTERNAL_DOMAIN}

    serviceMonitor:
      enabled: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: external-dns
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/envFrom
                value:
                  - secretRef:
                      name: external-dns-secret
                  - configMapRef:
                      name: dynamic-dns
