---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-device-plugins-operator
  namespace: flux-system
spec:
  path: "./kubernetes/${CLUSTER}/apps/system/intel-device-plugins/operator"
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-cert-manager
    - name: cluster-apps-node-feature-discovery-rules
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-device-plugins-gpu
  namespace: flux-system
spec:
  path: "./kubernetes/${CLUSTER}/apps/system/intel-device-plugins/gpu"
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-intel-device-plugins-operator
