---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: intel-device-plugins-operator
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://intel.github.io/helm-charts
      chart: intel-device-plugins-operator
      version: 0.27.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace


