---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: ${CLUSTER}

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker extractVersion=^(?<version>.*)$
talosVersion: v1.9.1
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.32.0

endpoint: "https://${CLUSTER}.${INTERNAL_DOMAIN}:6443"

allowSchedulingOnMasters: true
allowSchedulingOnControlPlanes: true

clusterPodNets:
  - 172.22.0.0/16
clusterSvcNets:
  - 172.23.0.0/16

cniConfig:
  name: none

additionalApiServerCertSans: &sans
  - &talosControlplaneVip ${CLUSTER_ENDPOINT_IP}
  - ${CLUSTER}.${INTERNAL_DOMAIN}
  - ${EXTERNAL_CLUSTER_NAME}.${EXTERNAL_DOMAIN}
  - "127.0.0.1" # KubePrism
additionalMachineCertSans: *sans

nodes:
  # intel nuc panther canyon / i7 / 256GB / 1TB SSD / 2TB Nvme
  - hostname: jsdyb-nuc-001.${INTERNAL_DOMAIN}
    controlPlane: true
    ipAddress: 10.77.0.11
    installDiskSelector:
      model: CT1000MX500SSD1
    disableSearchDomain: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:09:c5:ac
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
    nodeLabels: 
      topology.kubernetes.io/region: jsdyb
      topology.kubernetes.io/zone: jsdyb-u
      # Needed because Labels are limited to 63 Characters
      factory.talos.dev/schematic-prefix: 18658a59d33fe7e5006c2695b33ea9bd
      factory.talos.dev/schematic-suffix: 20e95d4554729529c63ad705872441b6
    extensionServices:
      - name: nut-client
        configFiles:
          - content: |
              MONITOR ${NUT_SERVER} 1 monuser ${NUT_PASSWORD} slave
              SHUTDOWNCMD "/sbin/poweroff"
            mountPath: /usr/local/etc/nut/upsmon.conf

  # intel nuc panther canyon / i7 / 256GB / 1TB SSD / 2TB Nvme
  - hostname: jsdyb-nuc-002.${INTERNAL_DOMAIN}
    controlPlane: true
    ipAddress: 10.77.0.12
    installDiskSelector:
      model: CT1000MX500SSD1
    disableSearchDomain: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:09:c9:33
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
    nodeLabels: 
      topology.kubernetes.io/region: jsdyb
      topology.kubernetes.io/zone: jsdyb-u
      # Needed because Labels are limited to 63 Characters
      factory.talos.dev/schematic-prefix: 18658a59d33fe7e5006c2695b33ea9bd
      factory.talos.dev/schematic-suffix: 20e95d4554729529c63ad705872441b6
    extensionServices:
      - name: nut-client
        configFiles:
          - content: |
              MONITOR ${NUT_SERVER} 1 monuser ${NUT_PASSWORD} slave
              SHUTDOWNCMD "/sbin/poweroff"
            mountPath: /usr/local/etc/nut/upsmon.conf

  # intel nuc panther canyon / i7 / 256GB / 1TB SSD / 2TB Nvme
  - hostname: jsdyb-nuc-003.${INTERNAL_DOMAIN}
    controlPlane: true
    ipAddress: 10.77.0.13
    installDiskSelector:
      model: CT1000MX500SSD1
    disableSearchDomain: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 88:ae:dd:07:a7:8c
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        vlans:
          - vlanId: 90
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096
    nodeLabels: 
      topology.kubernetes.io/region: jsdyb
      topology.kubernetes.io/zone: jsdyb-u
      # Needed because Labels are limited to 63 Characters
      factory.talos.dev/schematic-prefix: 18658a59d33fe7e5006c2695b33ea9bd
      factory.talos.dev/schematic-suffix: 20e95d4554729529c63ad705872441b6
    extensionServices:
      - name: nut-client
        configFiles:
          - content: |
              MONITOR ${NUT_SERVER} 1 monuser ${NUT_PASSWORD} slave
              SHUTDOWNCMD "/sbin/poweroff"
            mountPath: /usr/local/etc/nut/upsmon.conf
controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/iscsi-tools
          - siderolabs/nut-client

  patches:
    # Configure containerd
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |-
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true
              [plugins."io.containerd.grpc.v1.cri".containerd]
                discard_unpacked_layers = false
              [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                discard_unpacked_layers = false

    # Disable search domain everywhere
    - |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - |-
      machine:
        network:
          nameservers:
            - ${DNS_SERVER}

    # Configure NTP
    - |-
      machine:
        time:
          disabled: false
          servers:
            - ${NTP_SERVER}

    # Enable cluster discovery
    - |-
      cluster:
        discovery:
          registries:
            kubernetes:
              disabled: true
            service:
              disabled: false

    # Disable Host DNS
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false

    # Configure kubelet
    - |-
      machine:
        kubelet:
          extraArgs:
            rotate-server-certificates: true
          extraConfig:
            maxPods: 250
          nodeIP:
            validSubnets:
              - 10.77.0.0/24

    # Enable KubePrism
    - |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.77.0.0/24

    # Static host entries
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: ${CLUSTER_ENDPOINT_IP}
              aliases:
                - ${CLUSTER}.${INTERNAL_DOMAIN}
            - ip: ${CLUSTER_ENDPOINT_IP}
              aliases:
                - ${EXTERNAL_CLUSTER_NAME}.${EXTERNAL_DOMAIN}

     # Configure custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: 8192    # Watchdog
          fs.inotify.max_user_watches: 1048576   # Watchdog

    # Various udev rules
    - |-
      machine:
        udev:
          rules:
            - KERNEL=="ttyUSB[0-9]", GROUP="20", MODE="0660"

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system
