---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-resume-operator
  namespace: flux-system
spec:
  path: "./kubernetes/${CLUSTER}/apps/resume/resume/operator"
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-cert-manager
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-resume-cv
  namespace: flux-system
spec:
  path: "./kubernetes/${CLUSTER}/apps/resume/resume/cv"
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-resume-operator

