---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: intel-device-plugins-operator
  namespace: flux-system
spec:
  path: "./kubernetes/apps/system/intel-device-plugins/operator"
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  interval: 10m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
    - name: node-feature-discovery-rules
      namespace: system
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: intel-device-plugins-gpu
  namespace: flux-system
spec:
  path: "./kubernetes/apps/system/intel-device-plugins/gpu"
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  interval: 30m
  prune: true
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: intel-device-plugins-operator
