---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./baby-buddy/ks.yaml
  - ./esphome/ks.yaml
  - ./hajimari/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mealie/ks.yaml
  - ./wyoming-services/ks.yaml
  - ./zigbee2mqtt/ks.yaml

