---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app maker-management-platform
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          agent:
            image:
              repository: ghcr.io/maker-management-platform/agent
              tag: v1.3.2
            env:
              LIBRARY_PATH: /library
              LOG_PATH: ""
            resources:
              requests:
                cpu: 12m
                memory: 128M
              limits:
                memory: 512M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          ui:
            image:
              repository: ghcr.io/maker-management-platform/mmp-ui
              tag: v1.3.0
            env:
              AGENT_ADDRESS: localhost:8000
            resources:
              requests:
                cpu: 12m
                memory: 128M
              limits:
                memory: 128M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 8081

    ingress:
      internal:
        className: nginx-internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: &host mmp.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
                  port: *port
        tls:
          - hosts:
              - *host
            secretName: mmp-tls-internal


    persistence:
      data:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          maker-management-platform:
            agent:
              - path: /library
                subPath: library
              - path: /data
                subPath: data

      tmp:
        enabled: true
        type: emptyDir
        advancedMounts:
          *app :
            agent:
              - path: /app/temp
                subPath: agent-tmp
              - path: /app/cache
                subPath: agent-cache
            ui:
              - path: /config/caddy
                subPath: caddy
