---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: system
spec:
  interval: 15m
  chart:
    spec:
      chart: reflector
      version: 9.1.45
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
      interval: 15m
