---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-sonarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app sonarr
      app.kubernetes.io/instance: *app
  path: "./kubernetes/${CLUSTER}/apps/media/sonarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: sonarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-media-common
    - name: cluster-apps-media-common-mounts
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-kube-prometheus-stack-crds
    - name: cluster-apps-volsync
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: cluster-apps-sonarr-provision
#   namespace: flux-system
# spec:
#   targetNamespace: media
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: &app sonarr
#       app.kubernetes.io/instance: *app
#   path: "./kubernetes/${CLUSTER}/apps/media/sonarr/provision"
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#   wait: true
#   interval: 30m
#   retryInterval: 1m
#   timeout: 5m
#   postBuild:
#     substituteFrom: []
#   dependsOn:
#     - name: cluster-apps-sonarr
