---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: readarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app readarr
      app.kubernetes.io/instance: *app
  path: "./kubernetes/${CLUSTER}/apps/media/readarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: readarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: media-common
    - name: media-common-mounts
    - name: rook-ceph-cluster
    - name: kube-prometheus-stack-crds
    - name: volsync
