---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      *app :
        type: cronjob
        cronjob:
          schedule: "@daily"
          ttlSecondsAfterFinished: 86400
        containers:
          *app :
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: edge@sha256:71eb9a4050c01cb969ef4ee80d0e861b17b35e94900091bcd01be0865fb394d9
            command: ["/app/recyclarr/recyclarr"]
            args: 
              - "sync"
            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: starr-apps-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 64M
              limits:
                memory: 128M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        type: emptyDir

      configs:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
          - path: /config/configs
        defaultMode: 0775
