---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/onedr0p/tautulli
              tag: 2.15.1@sha256:cf198fe0ee64336e9e1212c162f25b6370e5e04659ec51d934aac24cb0c408bc
            env:
              TZ: ${TIMEZONE}
              TAUTULLI__PORT: &port 8181
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      external:
        className: nginx-internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          theme.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:chart-bar"
        hosts:
          - host: &host tautulli.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
        tls:
          - hosts:
              - *host
            secretName: tautulli-tls-external
      
    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        
      backups:
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDR}"
            path: /volume1/backups/tautulli
        globalMounts:
          - path: /config/backups

      tmp:
        type: emptyDir

