---
apiVersion: v1
kind: Endpoints
metadata:
  name: minio
  namespace: network
subsets:
  - addresses:
    - ip: ${SYNOLOGY_ADDR}
    ports:
    - name: http
      port: 9090
    - name: minio
      port: 9000
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: network
spec:
 ports:
  - name: http
    port: 9090
    protocol: TCP
    targetPort: 9090
    appProtocol: https
  - name: minio
    port: 9000
    protocol: TCP
    targetPort: 9000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  annotations:
    hajimari.io/enable: "true"
    hajimari.io/icon: "simple-icons:minio"
  labels:
    app.kubernetes.io/instance: minio
    app.kubernetes.io/name: minio
    app.kubernetes.io/part-of: minio
  name: minio
  namespace: network
spec:
  hostnames:
  - minio.${EXTERNAL_DOMAIN}
  parentRefs:
  - kind: Gateway
    name: private-gateway
    namespace: gateway
  rules:
  - backendRefs:
    - kind: Service
      name: minio
      port: 9090
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
