---
apiVersion: v1
kind: Endpoints
metadata:
  name: synology
  namespace: network
subsets:
  - addresses:
      - ip: ${SYNOLOGY_ADDR}
    ports:
      - name: http
        port: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: synology
  namespace: network
spec:
  ports:
    - name: http
      port: 5000
      protocol: TCP
      targetPort: 5000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  annotations:
    hajimari.io/enable: "true"
    hajimari.io/icon: "mdi:nas"
  labels:
    app.kubernetes.io/instance: &app synology
    app.kubernetes.io/name: *app
    app.kubernetes.io/part-of: *app
  name: *app
  namespace: network
spec:
  hostnames:
  - nas.${EXTERNAL_DOMAIN}
  parentRefs:
  - kind: Gateway
    name: private-gateway
    namespace: network
  rules:
  - backendRefs:
    - kind: Service
      name: *app
      port: 5000
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
