---
apiVersion: v1
kind: Endpoints
metadata:
  name: unifi
  namespace: network
subsets:
  - addresses:
      - ip: 10.0.1.1
    ports:
      - name: http
        port: 443
---
apiVersion: v1
kind: Service
metadata:
  name: unifi
  namespace: network
spec:
  ports:
    - name: http
      port: 443
      targetPort: 443
      protocol: TCP
      appProtocol: https
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  annotations:
    hajimari.io/enable: "true"
    hajimari.io/icon: "simple-icons:ubiquiti"
  labels:
    app.kubernetes.io/instance: &app unifi
    app.kubernetes.io/name: *app
    app.kubernetes.io/part-of: *app
  name: *app
  namespace: network
spec:
  hostnames:
  - unifi.${EXTERNAL_DOMAIN}
  parentRefs:
  - kind: Gateway
    name: private-gateway
    namespace: network
  rules:
  - backendRefs:
    - kind: Service
      name: *app
      port: 443
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
