---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: pg-vaultwarden
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:15.5-15
  primaryUpdateStrategy: unsupervised # let k8s handle upgrades
  primaryUpdateMethod: restart # prefer downtime of image download from registry instead of switching primary instance (promote a standby instance to primary) when current primary pod is updated
  storage:
    size: 8Gi
    storageClass: ceph-block
  monitoring:
    enablePodMonitor: true
  # configured according to below link to allow customizing of initdb via Flux
  # https://cloudnative-pg.io/documentation/1.20/bootstrap/#configure-the-application-database
  bootstrap:
    initdb:
      dataChecksums: true
      database: vaultwarden
      owner: vaultwarden

  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      serverName: pg-vaultwarden-v0
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://cnpg/
      endpointURL: http://minio.network.svc.cluster.local:9000
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: AWS_SECRET_ACCESS_KEY_ID
        secretAccessKey:
          name: cloudnative-pg-secret
          key: AWS_SECRET_ACCESS_KEY

# #  # RECOVERY
#   bootstrap:
#     recovery:
#       source: &previous-cluster pg-vaultwarden
#       recoveryTarget:
#         # Time base target for the recovery
#         targetTime: "2025-01-12 00:00:00.951464+00:00"
#       database: vaultwarden
#       owner: vaultwarden
# #  ## Note: externalClusters is needed when recovering from an existing cnpg cluster
#   externalClusters:
#     - name: *previous-cluster
#       barmanObjectStore:
#         wal:
#           compression: bzip2
#           maxParallel: 8
#         destinationPath: s3://cnpg/
#         endpointURL: http://minio.network.svc.cluster.local:9000
#         s3Credentials:
#           accessKeyId:
#             name: cloudnative-pg-secret
#             key: AWS_SECRET_ACCESS_KEY_ID
#           secretAccessKey:
#             name: cloudnative-pg-secret
#             key: AWS_SECRET_ACCESS_KEY


