---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-rdt-client
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kuberentes.io/name: &app rdt-client
  path: "./kubernetes/jsdyb-k8s-001/apps/download/rdt-client/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: true
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: rdt-config
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-pod-gateway
    - name: cluster-apps-volsync
