---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-rdt-client
  namespace: flux-system
spec:
  targetNamespace: download
  commonMetadata:
    labels:
      app.kuberentes.io/name: &app rdt-client
  path: "./kubernetes/${CLUSTER}/apps/download/rdt-client/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: true
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: rdt-config
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-pod-gateway
    - name: cluster-apps-volsync
