---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitor
spec:
  interval: 30m
  chart:
    spec:
      chart: thanos
      version: 12.16.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 30m
  values:
    existingObjstoreSecret: thanos-secret

    query:
      enabled: true
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: monitor
      replicaCount: 3
      replicaLabel:
        - "__replica__" # must match with kube-prometheus-stack value `.prometheus.prometheusSpec.replicaExternalLabelName`
      resources:
        requests:
          cpu: 15m
          memory: 64M
        # limits:
        #   memory: 99M

    queryFrontend:
      enabled: true
      replicaCount: 3
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:alpha-t-box"
        hostname: &host thanos.${EXTERNAL_DOMAIN}
        ingressClassName: nginx
        tls: false
        extraTls:
          - hosts:
              - *host
            secretName: thanos-tls-external

    bucketweb:
      enabled: true
      replicaCount: 3
      resources:
        requests:
          cpu: 15m
          memory: 64M

    compactor:
      enabled: true
      extraFlags:
        - "--compact.concurrency=4"
        - "--delete-delay=30m"
      retentionResolutionRaw: 14d
      retentionResolution5m: 14d
      retentionResolution1h: 30d
      resources:
        requests:
          cpu: 15m
          memory: 204M
        # limits:
        #   memory: 270M
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 15Gi

    storegateway:
      enabled: true
      replicaCount: 3
      resources:
        requests:
          cpu: 23m
          memory: 204M
        # limits:
        #   memory: 226M
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 1Gi

    ruler:
      enabled: true
      alertmanagers:
        - http://alert-manager.monitor.svc.cluster.local:9093
      # Breaks metrics that have cluster label due to conflict with cnpg
      # clusterName: ${CLUSTER_NAME} # must match with kube-prometheus-stack value `.prometheus.prometheusSpec.externalLabels.cluster`
      replicaLabel: __replica__
      replicaCount: 3
      config: |-
        groups:
          - name: "PrometheusWatcher"
            rules:
              - alert: "PrometheusDown"
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
      dnsDiscovery:
        enabled: true
      persistence:
        enabled: true
        storageClass: "ceph-block"
        size: 512Mi
      resources:
        requests:
          cpu: 23m
          memory: 94M
        limits:
          memory: 113M

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
