---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: readarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: readarr
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  values:
    controller:
      annoations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/onedr0p/readarr-nightly
      tag: 0.1.6.1865@sha256:b93a6981bb1842aa4b176b7cbf0d661ec717d3a9155fb9c6191b8b9452b8be20
    env:
      TZ: America/New_York
      READARR__INSTANCE_NAME: Readarr
      READARR__PORT: &port 8787
      READARR__APPLICATION_URL: https://readarr.${EXTERNAL_DOMAIN}
      READARR__LOG_LEVEL: info
      READARR__API_KEY:
        valueFrom:
          secretKeyRef:
            name: starr-apps-secret
            key: READARR_API_KEY
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          theme.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
        hosts:
          - host: readarr.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - readarr.${EXTERNAL_DOMAIN}
            secretName: readarr-tls-external
    persistence:
      config:
        enabled: true
        existingClaim: readarr-config
      media:
        enabled: true
        existingClaim: nfs-media
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups:
        - 65539
    resources:
      requests:
        memory: 224M
        cpu: 5m
      limits:
        memory: 224M
