---
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dns-dragonfly
  labels:
    app.kubernetes.io/name: dns-dragonfly
    app.kubernetes.io/instance: dns-dragonfly
spec:
  image: ghcr.io/dragonflydb/dragonfly:v1.18.1
  replicas: 3
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
    - --lock_on_hashtags
  resources:
    requests:
      cpu: 100m
    limits:
      memory: 512Mi
