---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unpoller
  namespace: monitor
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/unpoller/unpoller
      tag: v2.9.4
    env:
      TZ: America/New_York
      UP_UNIFI_DEFAULT_ROLE: home-ops
      UP_UNIFI_DEFAULT_VERIFY_SSL: false
      UP_INFLUXDB_DISABLE: true
    envFrom:
      - secretRef:
          name: unpoller-secret
    service:
      main:
        ports:
          http:
            port: 9130
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m # Unifi API only polls at 2m intervals
            scrapeTimeout: 5s
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 500Mi
