---
apiVersion: v1
kind: Namespace
metadata:
  name: security
  labels:
    kustomize.toolkit.fluxcd.io/prune: disabled
    networking.kubernetes.io/shared-gateway-access: "true"
    istio.io/dataplane-mode: ambient
