---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-authentik-database
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/jsdyb-k8s-001/apps/security/authentik/database"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  healthChecks:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      name: pg-authentik
      namespace: security
  postBuild:
    substituteFrom: []
  decryption: 
    provider: sops
  dependsOn:
    - name: cluster-apps-cloudnative-pg
    - name: cluster-apps-rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-authentik
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/jsdyb-k8s-001/apps/security/authentik/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  postBuild:
    substituteFrom: []
  decryption: 
    provider: sops
  dependsOn:
    - name: cluster-apps-authentik-database
    - name: cluster-apps-kyverno
    - name: cluster-apps-smtp-relay
    - name: cluster-apps-grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-authentik-provision
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/jsdyb-k8s-001/apps/security/authentik/provision"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: grafana-secret
      - kind: Secret
        name: headscale-secret
  dependsOn:
    - name: cluster-apps-authentik
    - name: cluster-apps-plex
 
