---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./alertmanager/ks.yaml
  - ./grafana/ks.yaml
  - ./kiali/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./metrics-server/ks.yaml
  # - ./thanos/ks.yaml
  - ./unpoller/ks.yaml
