---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./serviceaccount.yaml
  - ./role.yaml
  - ./rolebinding.yaml
  - ./cronjob.yaml
commonLabels:
  app.kubernetes.io/name: dynamic-dns
  app.kubernetes.io/instance: dynamic-dns
