---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: unpoller
  namespace: flux-system
spec:
  targetNamespace: monitor
  path: ./kubernetes/${CLUSTER}/apps/monitor/unpoller/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: kube-prometheus-stack
