---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-services
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      piper:
        type: statefulset
        annotations:
          app.kubernetes.io/name: piper
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: rhasspy/wyoming-piper
              tag: 1.5.0
            args:
              - --voice=en_US-hfc_female-medium
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 500m
                memory: 250Mi
              limits:
                memory: 500Mi
          api:
            image:
              repository: ghcr.io/matatonic/openedai-speech-min
              tag: 0.17.2
            env:
              TTS_HOME: voices
              HF_HOME: voices
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

        statefulset:
          volumeClaimTemplates:
            - name: data
              advancedMounts:
                main:
                  - path: /data
                api:
                  - path: /app/voices
              accessMode: ReadWriteOnce
              size: 5Gi
              storageClass: ceph-block

      whisper:
        type: statefulset
        annotations:
          app.kubernetes.io/name: whisper
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 2.1.0
            args:
              - --model=small
              - --language=en
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 500m
                memory: 250Mi
              limits:
                memory: 2500Mi

        statefulset:
          volumeClaimTemplates:
            - name: data
              globalMounts:
                - path: /data
              accessMode: ReadWriteOnce
              size: 5Gi
              storageClass: ceph-block

      openwakeword:
        type: statefulset
        annotations:
          app.kubernetes.io/name: openwakeword
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 1.10.0
            args:
              - --preload-model
              - "ok_nabu"
              - --custom-model-dir
              - /custom
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      piper:
        type: LoadBalancer
        controller: piper
        annotations:
          app.kubernetes.io/name: piper
          io.cilium/lb-ipam-ips: 192.168.77.102
        ports:
          piper:
            port: 10200
          http:
            port: 8000

      whisper:
        type: LoadBalancer
        controller: whisper
        annotations:
          app.kubernetes.io/name: whisper
          io.cilium/lb-ipam-ips: 192.168.77.103
        ports:
          http:
            port: 10300
            protocol: TCP

      openwakeword:
        type: LoadBalancer
        controller: openwakeword
        annotations:
          app.kubernetes.io/name: openwakeword
          io.cilium/lb-ipam-ips: 192.168.77.104
        ports:
          http:
            port: 10400

    ingress:
      piper:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        className: nginx-internal
        hosts:
          - host: piper.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: piper
                  port: http
        tls:
          - hosts:
              - piper.${EXTERNAL_DOMAIN}
            secretName: piper-tls-internal

    persistence:
      piper-config:
        type: configMap
        name: piper-config
        advancedMounts:
          piper:
            api:
              - path: /app/config

      openwakeword-config:
        type: configMap
        name: openwakeword-config
        advancedMounts:
          openwakeword:
            main:
              - path: /custom

      pper-tmp:
        type: emptyDir
        advancedMounts:
          piper:
            main:
              - path: /tmp

      whisper-tmp:
        type: emptyDir
        advancedMounts:
          whisper:
            main:
              - path: /tmp
              
      openwakeword-tmp:
        type: emptyDir
        advancedMounts:
          openwakeword:
            main:
              - path: /tmp
