---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-radarr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app radarr
      app.kubernetes.io/instance: *app
  path: "./kubernetes/jsdyb-k8s-001/apps/media/radarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: radarr-config
      VOLSYNC_CAPACITY: 1Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-media-common
    - name: cluster-apps-media-common-mounts
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-kube-prometheus-stack-crds
    - name: cluster-apps-volsync

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-radarr-provision
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app radarr
      app.kubernetes.io/instance: *app
  path: "./kubernetes/jsdyb-k8s-001/apps/media/radarr/provision"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-radarr
    - name: cluster-apps-tf-controller
