---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: bazarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/bazarr
      tag: 1.4.0@sha256:18746e21c6959fd3e021d82053ce408d976a65a7316b2aeb5a3215721a5e4e43

    env:
      TZ: America/New_York
      BAZARR__INSTANCE_NAME: Bazarr
      BAZARR__PORT: &port 6767
      BAZARR__APPLICATION_URL: https://bazarr.${EXTERNAL_DOMAIN}
      BAZARR__LOG_LEVEL: info
      BAZARR__API_KEY:
        valueFrom:
          secretKeyRef:
            name: starr-apps-secret
            key: BAZARR_API_KEY

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          theme.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "solar:subtitles-outline"
        hosts:
          - host: &host bazarr.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: bazarr-tls-external

    persistence:
      media:
        enabled: true
        existingClaim: nfs-media

      backups:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDR}"
            path: /volume1/backups/bazarr
        mountPath: /config/backup
        readOnly: false

    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups:
        - 65539
        - 1030

    resources:
      requests:
        memory: 350Mi
        cpu: 5m
      limits:
        memory: 431Mi

    serviceMonitor:
      monitor:
        enabled: true
        serviceName: bazarr-monitor
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 2m
