---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: depName=rancher/system-upgrade-controller datasource=github-releases
  - https://github.com/rancher/system-upgrade-controller/releases/download/0.14.2/crd.yaml
  - ./rbac.yaml
  - ./helmrelease.yaml
  - ./clusterpolicy.yaml
