---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-zigbee2mqtt
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/home/zigbee2mqtt/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  dependsOn:
    - name: cluster-apps-mosquitto
    - name: cluster-apps-synology-csi
    - name: cluster-apps-node-feature-discovery-rules
    - name: cluster-apps-volsync-policy
