---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freetak
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        enabled: false
      backend:
        containers:
          main:
            image:
              repository: ghcr.io/freetakteam/freetakserver
              tag: latest

        pod:
          securityContext:
            fsGroup: 568

      frontend:
        containers:
          main:
            image:
              repository: ghcr.io/freetakteam/ui
              tag: latest

            env:
              - name: FTS_IP
                value: freetak-api.internal.davishaus.dev
              - name: FTS_API_PROTO
                value: https
              - name: FTS_API_PORT
                value: 443
              - name: FTS_MAP_PROTO
                value: https
              - name: FTS_MAP_EXPOSED_IP
                value: node-red.davishaus.dev
              - name: FTS_UI_EXPOSED_IP
                value: 0.0.0.0
              - name: FTS_UI_SQLALCHEMY_DATABASE_URI
                value: sqlite:////home/freetak/data/FTSServer-UI.db

        pod:
          securityContext:
            fsGroup: 568

    service:
      main:
        enabled: false
      backend:
        type: ClusterIP
        controller: backend
        ports:
          http:
            port: 8080
          cot:
            port: 8087
          sslcot:
            port: 8089
          ssldata:
            port: 8443
          api:
            port: &api-port 19023
      frontend:
        type: ClusterIP
        controller: frontend
        ports:
          ui:
            port: &ui-port 5000
          map:
            port: 1880

    ingress:
      main:
        enabled: true
        className: nginx-internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: &hostname-ui freetak.${INTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  name: frontend
                  port: *ui-port
          - host: &hostname-api freetak-api.${INTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  name: backend
                  port: *api-port
        tls:
          - hosts:
              - *hostname-ui
              - *hostname-api
            secretName: freetak-tls-internal
      external:
        enabled: true
        className: nginx-external
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: &hostname-pub freetak-pub.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  name: backend
                  port: cot
        tls:
          - hosts:
              - *hostname-pub
            secretName: freetak-tls-external

    persistence:
      backend-data:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
        advancedMounts:
          backend:
            main:
              - path: /opt/fts
      frontend-data:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
        advancedMounts:
          frontend:
            main:
              - path: /home/freetak/data
