---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: dynamic-dns
  namespace: network
  annotations: 
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  schedule: "@hourly"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: dynamic-dns
          containers:
          - name: dynamic-dns
            image: alpine/k8s:1.32.2
            command:
            - /bin/sh
            - -c
            - |
              PUBLIC_IP=$(curl --silent ifconfig.me) && cat << EOF > /tmp/configmap.yaml && kubectl apply -f /tmp/configmap.yaml
              apiVersion: v1
              kind: ConfigMap
              metadata:
                name: dynamic-dns
                namespace: $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
              data:
                EXTERNAL_DNS_DEFAULT_TARGETS: '${PUBLIC_IP}'
              EOF
          restartPolicy: OnFailure
