apiVersion: v1
kind: Secret
metadata:
  name: ${VOLSYNC_CLAIM:-${APP}}-volsync-minio
stringData:
  RESTIC_REPOSITORY: s3:http://${S3_BUCKET_URL}/${S3_BUCKET_NAME}/${APP}/${VOLSYNC_CLAIM:-${APP}}
  RESTIC_PASSWORD: ${RESTIC_PASSWORD}
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
