---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret-github-webhook-token.sops.yaml
  - ./httproute.yaml
  - ./receiver.yaml
