---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: k8s-home-ops
  namespace: flux-system
spec:
  interval: 30m
  ref:
    branch: main
  secretRef:
    name: github-deploy-key
  url: ssh://git@github.com/JefeDavis/k8s-HomeOps
  ignore: |
    # exclude all
    /*
    # include kubernetes directory
    !/kubernetes/apps/system
    !/kubernetes/apps/storage
    !/kubernetes/apps/security
    !/kubernetes/apps/monitoring
    !/kubernetes/apps/networking
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster
  namespace: flux-system
spec:
  interval: 10m
  path: ./flux
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    dependsOn:
    - name: flux
  decryption:
    provider: sops
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
        optional: false
      - kind: Secret
        name: cluster-secrets

