---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateways
  namespace: gateway-system
spec:
  targetNamespace: gateway
  interval: 10m
  path: "./kubernetes/apps/gateway/envoy/gateway"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
  decryption:
    provider: sops
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: envoy
      namespace: gateway-system
    - name: cert-manager-issuers
