---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./helmrelease.yaml
  - ./bgppeeringpolicy.yaml
  - ./httproute-hubble.yaml
configMapGenerator:
  - name: cilium-values
    files:
      - ./values.yaml
    options:
      disableNameSuffixHash: true
