---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: resume
namePrefix: resume-operator-
bases:
  - ./crd
  - ./rbac
  - ./manager
  - ./prometheus
patchesStrategicMerge:
  - ./patches/manager_auth_proxy_patch.yaml
