---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-thanos
  namespace: flux-system
spec:
  targetNamespace: monitor
  path: "./kubernetes/${CLUSTER}/apps/monitor/thanos/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 15m
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
    - name: cluster-apps-dragonfly-cluster
