---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy
  namespace: flux-system
spec:
  targetNamespace: gateway
  interval: 10m
  path: "./kubernetes/${CLUSTER}/apps/gateway/envoy/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cilium
    - name: gateway-api-crds
    - name: cert-manager-issuers
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateways
  namespace: flux-system
spec:
  targetNamespace: gateway
  interval: 10m
  path: "./kubernetes/${CLUSTER}/apps/gateway/envoy/gateway"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
  wait: true
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: gateway-api-crds
    - name: envoy
    - name: cert-manager-issuers
