---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kube-prometheus-stack-crds
  namespace: flux-system
spec:
  targetNamespace: monitor
  path: ./kubernetes/${CLUSTER}/apps/monitor/kube-prometheus-stack/crds
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  postBuild:
    substituteFrom: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kube-prometheus-stack
  namespace: flux-system
spec:
  targetNamespace: monitor
  path: ./kubernetes/${CLUSTER}/apps/monitor/kube-prometheus-stack/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  postBuild:
    substituteFrom: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  decryption:
    provider: sops
  dependsOn:
    - name: cluster-apps-kube-prometheus-stack-crds
    - name: cluster-apps-cert-manager
    - name: cluster-apps-rook-ceph-cluster
