---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          secret.reloader.stakater.com/reload: secret-esphome,home-assistant-deploykey
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"iot-vlan",
                "interface": "eth1",
                "namespace": "network",
                "ips": ["10.0.90.5/24"],
                "mac": "ce:95:be:b2:4f:ca"
              }]
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.5.2
            env:
              - name: ESPHOME_DASHBOARD_USE_PING
                value: "true"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 1374M
              limits:
                memory: 2048M

    service:
      *app :
        controller: *app
        ports:
          http:
            port: &port 6052

    ingress:
      *app :
        className: nginx-internal
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          hajimari.io/enable: "true"
          hajimari.io/icon: "chip"
        hosts:
          - host: &hostname esphome.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: *app
                  port: *port
                  
        tls:
          - hosts:
              - *hostname
            secretName: esphome-tls-internal

    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config
      secrets:
        type: secret
        name: secret-esphome
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
      deploy-key:
        type: secret
        name: home-assistant-deploy-key
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_rsa
            subPath: id_rsa
