---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-flaresolverr
  namespace: flux-system
spec:
  targetNamespace: download
  path: "./kubernetes/jsdyb-k8s-001/apps/download/flaresolverr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-pod-gateway
