---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/koenkk/zigbee2mqtt
      tag: 1.34.0
    env:
      TZ: "American/New York"
      ZIGBEE2MQTT_DATA: /data
      ZIGBEE2MQTT_CONFIG_MQTT_USER:
        valueFrom:
          secretKeyRef:
            name: mosquitto-secret
            key: ZIGBEE2MQTT_MQTT_USER
      ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: mosquitto-secret
            key: ZIGBEE2MQTT_MQTT_PASS
    service:
      main:
        ports:
          http:
            port: 8080
          metrics:
            enabled: true
            port: 9000

    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "simple-icons:zigbee"
        hosts:
          - host: zigbee2mqtt.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - zigbee2mqtt.${EXTERNAL_DOMAIN}
            secretName: zigbee2mqtt-tls-external

    securityContext:
      privileged: true

    resources:
      requests:
        cpu: 8m
        memory: 178Mi
      limits:
        memory: 256Mi

    volumeClaimTemplates:
      - name: data
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block

    persistence:
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_516009EA-if01-port0

    nodeSelector:
      feature.node.kubernetes.io/zigbee: "true"

    envFrom:
      - configMapRef:
          name: zigbee2mqtt-config
      - secretRef:
          name: zigbee2mqtt-secret
