---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/onedr0p/bazarr
              tag: 1.5.1@sha256:3543d7708c49a107558315eb88d202d99a0c8aaf592d3a70157565908c9f1eab

            env:
              TZ: ${TIMEZONE}
              BAZARR__INSTANCE_NAME: *app
              BAZARR__PORT: &port 6767
              BAZARR__APPLICATION_URL: https://bazarr.${INTERNAL_DOMAIN}
              BAZARR__LOG_LEVEL: info
              BAZARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: BAZARR_API_KEY
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi

          exporter:
            image: 
              repository: ghcr.io/onedr0p/exportarr
              tag: v2.1.0
            args: 
              - bazarr
              - --enable-additional-metrics
            env:
              - name: URL
                value: "http://localhost:6767"
              - name: PORT
                value: &metricsPort 9710
              - name: APIKEY
                valueFrom:
                  secretKeyRef:
                    name: starr-apps-secret
                    key: BAZARR_API_KEY
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: *metricsPort

    route:
      *app :
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "solar:subtitles-outline"
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: private-gateway
            namespace: gateway
        hostnames:
          - bazarr.${INTERNAL_DOMAIN}
        rules:
          - backendRefs:
              - kind: Service
                name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
      
    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          *app :
            *app :
              - path: /config

      media:
        existingClaim: nfs-media
        advancedMounts:
          *app :
            *app :
              - path: /media

      backups:
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDR}"
            path: /volume1/backups/bazarr
        advancedMounts:
          *app :
            *app :
              - path: /config/backup

      tmp:
        type: emptyDir
        advancedMounts:
          *app :
            *app :
              - path: /tmp

    serviceMonitor:
      metrics:
        enabled: true
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 10s
