---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-alertmanager-silencer
  namespace: flux-system
spec:
  targetNamespace: monitor
  commonMetadata:
    labels:
      app.kubernetes.io/name: alertmanager-silencer
  path: ./kubernetes/${CLUSTER}/apps/monitor/alertmanager-silencer/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom: []
  dependsOn:
    - name: cluster-apps-kube-prometheus-stack
