---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-dragonfly
  namespace: flux-system
spec:
  targetNamespace: datastore
  commonMetadata:
    labels:
      app.kubernetes.io/name: dragonfly
  path: ./kubernetes/${CLUSTER}/apps/datastore/dragonfly/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  dependsOn:
    - name: cluster-apps-rook-ceph-cluster
  postBuild:
    substituteFrom: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-dragonfly-cluster
  namespace: flux-system
spec:
  targetNamespace: datastore
  commonMetadata:
    labels:
      app.kubernetes.io/name: dragonfly-cluster
  dependsOn:
    - name: cluster-apps-dragonfly
  path: ./kubernetes/${CLUSTER}/apps/datastore/dragonfly/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  postBuild:
    substituteFrom: []
  interval: 30m
  retryInterval: 1m
  timeout: 5m
