---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: system
spec:
  chart:
    spec:
      chart: cilium
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      version: 1.16.2
  interval: 30m

  valuesFrom:
    - kind: ConfigMap
      name: cilium-values

  values:
    hubble:
      enabled: true
      metrics:
        enabled:
          - dns:query;ignoreAAAA
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
        serviceMonitor:
          enabled: true

        dashboards:
          enabled: true
          label: grafana.io/dashboard
          labelValue: "true"
          annotations:
            grafana.io/folder: Network


      relay:
        enabled: true
        rollOutPods: true
        prometheus:
          enabled: true
          serviceMonitor:
            enabled: true


      ui:
        enabled: true
        rollOutPods: true
        ingress:
          enabled: true
          className: nginx-internal
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-prod
          hosts:
            - &host hubble.${EXTERNAL_DOMAIN}
          tls:
            - hosts:
                - *host
              secretName: hubble-tls-external

    dashboards:
      enabled: true
      label: grafana.io/dashboard
      labelValue: "true"
      annotations:
        grafana.io/folder: Network

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true

    operator:
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true

      dashboards:
        enabled: true
        label: grafana.io/dashboard
        labelValue: "true"
        annotations:
          grafana.io/folder: Network
