---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: datastore
resources:
  - ./helmrelease.yaml
  - ./dashboard
  - ./secret-cloudnative-pg.sops.yaml
  - ./prometheusrule.yaml

