---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: pod-gateway
  namespace: network
spec:
  interval: 30m
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system

  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.8.1@sha256:690b6365728fe9012ad4cdfca38334992664596513dca187d1b93d2025205776

    DNS: 172.16.1.1

    service:
      vpn:
        enabled: true
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_VPN_ADDR}
        externalTrafficPolicy: Cluster
        ports:
          shadowsocks:
            enabled: true
            port: 8388

    addons:
      vpn:
        enabled: true
        type: gluetun
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.34.3@sha256:3b4d498939ef1f9ceac9049a73598acfcda25a9e58010fcd991afed32cd16eac

        env:
          - name: VPN_SERVICE_PROVIDER
            value: mullvad
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: VPN_ENDPOINT_PORT
            value: 51820
          - name: SHADOWSOCKS
            value: "on"
          - name: FIREWALL
            value: "off"
          - name: DOT
            value: "off"
          - name: SERVER_CITIES
            value: Atlanta GA
          # - name: SERVER_HOSTNAMES
          #   value: us167-wireguard
          - name: LOG_LEVEL
            value: debug

        envFrom:
          - secretRef:
              name: pod-gateway-secret

        resources:
          requests:
            cpu: 5m
            memory: 64M
          limits:
            memory: 64M

        securityContext:
          capabilities:
            add:
              - NET_ADMIN

        networkPolicy:
          enabled: false
      netshoot:
        enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 10M
          limits:
            memory: 10M

    podAnnotations:
      configmap.reloader.stakater.com/reload: pod-gateway
      secret.reloader.stakater.com/reload: pod-gateway-secret

    publicPorts:
      - IP: 10
        hostname: qbittorrent
        ports:
          - port: 57512
            type: udp
          - port: 57512
            type: tcp

    routed_namespaces:
      - downloads

    settings:
      NOT_ROUTED_TO_GATEWAY_CIDRS: 172.22.0.0/15 10.0.0.0/8
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_INTERFACE: wg0
      VPN_LOCAL_CIDRS: 172.22.0.0/15 10.0.0.0/8
      VPN_TRAFFIC_PORT: "51820"
      VXLAN_ID: 43
      VXLAN_IP_NETWORK: 172.16.1

    webhook:
      gatewayAnnotation: vpn.home.arpa/enabled
      gatewayDefault: true
      gatewayLabel: vpn.home.arpa/enabled
      namespaceSelector:
        type: label
        label: vpn.home.arpa/routed-gateway
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.9.0@sha256:4e169da5af107a9c6c784d3e03c89da07fad45f18358ab5b7177662df12d955a
