---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./secret-pod-gateway.sops.yaml
  - ./helmrelease.yaml
  - ./networkpolicy.yaml
commonLabels:
  app.kubernetes.io/name: pod-gateway
  app.kubernetes.io/instance: vpn-gateway
