---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app baby-buddy
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      baby-buddy:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/babybuddy
              tag: 2.6.0@sha256:0c90cef90e82c0f5c6e08ac2dc9c118e1d4912ba3cc97d78e5d3dc6ecefc936e
            env:
              - name: TZ
                value: ${TIMEZONE}
              - name: ALLOWED_HOSTS
                value: ${EXTERNAL_URL},${LOCAL_URL}
              - name: CSRF_COOKIE_SECURE
                value: "true"
              - name: CSRF_TRUSTED_ORIGINS
                value: https://${EXTERNAL_URL},http://${LOCAL_URL}
              - name: EMAIL_HOST
                value: smtp-relay.network.svc.cluster.local.
              - name: EMAIL_PORT
                value: "2525"
              - name: EMAIL_USE_TLS
                value: "false"
              - name: PROXY_HEADER
                value: HTTP_X_AUTHENTIK_USERNAME
              - name: REVERSE_PROXY_AUTH
                value: "true"
              - name: SECURE_PROXY_SSL_HEADER
                value: "true"
              - name: DJANGO_SETTINGS_MODULE
                value: babybuddy.settings.base
              - name: DB_ENGINE
                value: django.db.backends.postgresql
              - name: DB_HOST
                value: pg-baby-buddy-rw
              - name: DB_NAME
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: username
              - name: DB_USER
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: username
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: pg-baby-buddy-app
                    key: password
            envFrom:
              - secretRef:
                  name: baby-buddy-secret
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8000
    ingress:
      external:
        enabled: true
        className: nginx-external
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          auth.home.arpa/enabled: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:baby-face-outline
          internal-dns.home.arpa/disable: "true"
        hosts:
          - host: &host "${EXTERNAL_URL}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: baby-buddy-tls-external
      internal:
        className: nginx-internal
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: mdi:baby-face-outline
        hosts:
          - host: *host
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: baby-buddy-tls-external
    persistence:
      config:
        enabled: true
        existingClaim: baby-buddy-config
        globalMounts:
          - path: /config
