---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: cert-manager
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: davishaus-internal-root
  namespace: cert-manager
spec:
  isCA: true
  dnsNames:
    - internal.davishaus.dev
  secretName: root-ca
  subject:
    countries:
      - "US"
    organizations:
      - "DavisHaus"
    organizationUnits:
      - "Internal"
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: davishaus-internal-issuer
spec:
  ca:
    secretName: root-ca
