---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: music-assistant
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/music-assistant/server
      tag: 2.0.0b39

    podAnnotations:
      k8s.v1.cni.cncf.io/networks: |
        [{
          "name":"iot-vlan",
          "namespace": "network",
          "ips": ["10.0.90.6/24"]
        }]

    env:
      TZ: "America/Chicago"

    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_MASS_ADDR}
        ports:
          http:
            port: 8095
            protocol: TCP

    resources:
      requests:
        cpu: 500m
        memory: 250Mi
      limits:
        memory: 2500Mi

    volumeClaimTemplates:
      - name: data
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: ceph-block

    persistence:
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDR}"
            path: /volume1/media/library/music
        mountPath: /media
        readOnly: false

