---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-gpu
  namespace: system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: intel-device-plugins-gpu
  values:
    name: intel-gpu-plugin
    sharedDevNum: 2
    nodeFeatureRule: false
