---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "${SANITIZED_ORGANIZATION}-internal"
spec:
  secretName: "${SANITIZED_ORGANIZATION}-tls-internal"
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - "*.${INTERNAL_DOMAIN}"
