---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret-emqx.sops.yaml
  - ./cluster.yaml
  - ./httproute.yaml
  - ./podmonitor.yaml
configMapGenerator:
  - name: emqx-init-mqtt-configmap
    files:
      - ./config/init-mqtt.py
generatorOptions:
  disableNameSuffixHash: true
