apiVersion: helm.toolkit.fluxcd.io/v2beta1
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media 
spec:
  interval: 30m
  chart:
    spec:
      chart: lidarr
      version: 1.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/lidarr
      tag: 1.1.4.3027@sha256:74ff600e40d165684005da1fdf9d050d9d7e087caf74733c34e255a55784b6fe
    env:
      TZ: "America/New York"
      LIDARR__INSTANCE_NAME: Lidarr
      LIDARR__PORT: &port 8686
      LIDARR__LOG_LEVEL: info
      LIDARR__ANALYTICS_ENABLED: "False"
      LIDARR__APPLICATION_URL: "https://lidarr.${EXTERNAL_DOMAIN}"
      LIDARR__API_KEY:
        valueFrom:
          secretKeyRef:
            name: starr-apps-secret
            key: LIDARR_API_KEY

    ingress:
      main:
        enabled: true
        labels:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          theme.home.arpa/enabled: "true"
          auth.home.arpa/enabled: "true"
        hosts:
        - host: "lidarr.${EXTERNAL_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - "lidarr.${EXTERNAL_DOMAIN}"
          secretName: lidarr-tls-external
    persistence:
      config:
        enabled: true
        existingClaim: lidarr-config
      media:
        enabled: true
        existingClaim: nfs-media
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 65539
    resources:
      requests:
        memory: 350Mi
        cpu: 25m
      limits:
        memory: 500Mi
    serviceMonitor:
      podmonitor:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 10m
            scrapeTimeout: 2m

