---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app generic-device-plugin

spec:

  interval: 15m

  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:

    controllers:
      generic-device-plugin:
        type: daemonset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: squat/generic-device-plugin
              tag: latest

            args:
              - --log-level
              - info
              # - --device
              # - |
              #   name: serial
              #   groups:
              #     - paths:
              #         - path: /dev/ttyUSB*
              #     - paths:
              #         - path: /dev/ttyACM*
              #     - paths:
              #         - path: /dev/tty.usb*
              #     - paths:
              #         - path: /dev/cu.*
              #     - paths:
              #         - path: /dev/cuaU*
              #     - paths:
              #         - path: /dev/rfcomm*
              - --device
              - |
                name: tun
                groups:
                  - count: 1000
                    paths:
                      - path: /dev/net/tun

            ports:
              - name: http
                containerPort: &port 8080

            resources:
              requests:
                cpu: 50m
                memory: 10Mi
              limits:
                cpu: 50m
                memory: 20Mi

            securityContext:
              privileged: true

    service:
      app:
        controller: generic-device-plugin
        ports:
          http:
            port: *port

    persistence:
      device-plugins:
        enabled: true
        type: hostPath
        hostPath: /var/lib/kubelet/device-plugins

      dev:
        enabled: true
        type: hostPath
        hostPath: /dev

