---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: reloader
      version: 1.0.115
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 30m
  values:
    reloader:
      podMonitor:
        enabled: true

      reloadStrategy: annotations

      deployment:
        resources:
          requests:
            cpu: 5m
            memory: 96M

