---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-secret
  namespace: cnpg-system
spec:
  interval: 10m
  path: "./kubernetes/apps/cnpg-system/cloudnative-pg/secret"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homeops
    namespace: flux-system
  wait: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substituteFrom: []
