---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes-sigs.github.io/external-dns/
      chart: external-dns
      version: 1.12.2
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns
        namespace: flux-system
      interval: 30m
  values:
    interval: 10s
    sources:
      - service
      - ingress
    policy: sync
    registry: txt
    txtPrefix: "jsdyb-kube-001-"
    domainFilters:
      - ${INTERNAL_DOMAIN}
    provider: rfc2136

    extraArgs:
      - --rfc2136-host=10.77.0.2
      - --rfc2136-port=53
      - --rfc2136-zone=${INTERNAL_DOMAIN}
      - --rfc2136-tsig-axfr

    resources:
      requests:
        cpu: 5m
        memory: 49M
      limits:
        memory: 49M

    serviceMonitor:
      enabled: true
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: external-dns
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/envFrom
                value:
                  - secretRef:
                      name: external-dns-secret
