---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istiod
spec:
  interval: 30m
  chart:
    spec:
      chart: istiod
      version: 1.23.1
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      interval: 30m
  values:
    # sidecarInjectorWebhook:
      # enableNamespacesByDefault: true
    global:
      caAddress: cert-manager-istio-csr.security.svc:443
    pilot:
      env:
        ENABLE_NATIVE_SIDECARS: true
        ENABLE_CA_SERVER: false
      cni:
        enabled: true
