---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-ollama-backend-pvc
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/${CLUSTER}/templates/volsync"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: ollama-backend
      VOLSYNC_CLAIM: ollama-backend-data
      VOLSYNC_CAPACITY: 10Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption: 
    provider: sops
  dependsOn:
    - name: cluster-apps-volsync
    - name: cluster-apps-rook-ceph-cluster
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-ollama-ui-pvc
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/${CLUSTER}/templates/volsync"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      APP: ollama-ui
      VOLSYNC_CLAIM: ollama-ui-data
      VOLSYNC_CAPACITY: 2Gi
    substituteFrom:
      - kind: Secret
        name: flux-volsync-secret
  decryption: 
    provider: sops
  dependsOn:
    - name: cluster-apps-volsync
    - name: cluster-apps-rook-ceph-cluster
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-ollama
  namespace: flux-system
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  interval: 10m
  path: "./kubernetes/${CLUSTER}/apps/ai/ollama/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  postBuild:
    substitute:
      BACKEND_CLAIM: ollama-backend-data
      UI_CLAIM: ollama-ui-data
    substituteFrom: []
  decryption: 
    provider: sops
  dependsOn:
    - name: cluster-apps-intel-device-plugins-gpu
    - name: cluster-apps-ollama-backend-pvc
    - name: cluster-apps-ollama-ui-pvc
