---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio
  namespace: network
spec:
  chart:
    spec:
      chart: ambient
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      version: 1.24.2
  interval: 30m